@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.search-form {
  padding: 10px;
}
[name='query'] {
  padding: 10px;
  font-size: 20px;
}
.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.imgCardsMarkup {
  display: flex;
  flex-wrap: wrap;
}
.photo-card > img {
  width: 100%/3;
}
.photo-card:not(:nth-child(3)) {
  margin-right: 5px;
}
.stats {
  display: flex;
}
.stats-item:not(:last-child) {
  display: flex;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}
.loadMoreBtn {
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-left: 47%;
}

.hiddenBtn {
  display: none;
}
